.label >div{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color:white;
  border-radius: 30px;
  padding: 12px;
  white-space: nowrap;
  user-select: none;
}